body{
    align-items: center;
}
table{
        text-align: center;
        width: 100%;
        border: 2px solid;
        
    }
td{
    border:2px solid;
    border-color: brown;
}
    
img{    
        width: calc(50%-3px);
        height: 50%;
    }